@use "../../../commonStyle/vars" as vars;
@use "../../../commonStyle/mixins" as mixins;

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 60px 45px;
  @include mixins.breakpoint(mobile) {
    width: 90%;
    flex-direction: column;
    margin: 30px 20px 45px;
  }
  &__form {
    position: relative;
    &--input {
      width: 480px;
      height: 50px;
      padding: 20px 60px;
      font-family: "Nunito Sans", sans-serif;
      background-color: vars.$light-mode-elements;
      color: vars.$light-mode-input;
      font-size: vars.$font-size-text;
      font-weight: vars.$font-weight-bold;
      border: none;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 4px;
      transition: background-color ease-in-out 1s;
      &::placeholder {
        opacity: 0.7;
        font-size: vars.$font-size-text;
        font-weight: vars.$font-weight-bold;
      }
      &--dark {
        background-color: vars.$dark-mode-elements;
        color: vars.$dark-mode-text;
        &::placeholder {
          color: vars.$dark-mode-text;
        }
      }
      @include mixins.breakpoint(tablet) {
        width: 400px;
      }
      @include mixins.breakpoint(mobile) {
        width: 100%;
      }
    }
    &--icon {
      position: absolute;
      top: 15px;
      left: 20px;
      color: vars.$light-mode-input;
      font-size: 20px;
      &--dark {
        color: vars.$dark-mode-text;
      }
    }
  }
}
