@use "../../commonStyle/vars" as vars;
@use "../../commonStyle/mixins" as mixins;

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  padding: 20px 60px;
  background-color: vars.$light-mode-elements;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: background-color ease-in-out 1s;
  &--dark {
    background-color: vars.$dark-mode-elements;
  }
  @include mixins.breakpoint(mobile) {
    width: 100%;
    height: 80px;
    padding: 20px;
    align-items: center;
  }
  &__title {
    font-size: 18px;
    font-weight: vars.$font-weight-extra-bold;
    @include mixins.breakpoint(mobile) {
      font-size: vars.$font-size-text;
    }
  }
  &__mode {
    display: flex;
    align-items: center;
  }
  &__button {
    border: none;
    color: vars.$light-mode-text;
    background: transparent;
    font-size: vars.$font-size-text;
    font-weight: vars.$font-weight-bold;
    font-family: "Nunito Sans", sans-serif;
    &--dark {
      color: vars.$dark-mode-text;
    }
    @include mixins.breakpoint(mobile) {
      font-size: 12px;
      font-weight: vars.$font-weight-bold;
    }
  }
}
